.icon-tooltip {
    position: relative;
    display: inline-block; /* Allows the icon to sit naturally in text flow */
    cursor: help; /* Optional: indicates it's interactive */
}

.icon-tooltip .icon-tooltip-text {
    visibility: hidden;
    width: 120px; /* Adjust as needed */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -60px; /* Half of the width to center it */
    opacity: 0;
    transition: opacity 0.3s; /* Smooth fade-in */
}

/* Arrow for the tooltip */
.icon-tooltip .icon-tooltip-text::after{
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.icon-tooltip:hover .icon-tooltip-text {
    visibility: visible;
    opacity: 1;
}

@media (hover: hover){
    .tooltip:has(.spell_text:hover) .tooltiptext {
        visibility: visible;
        opacity: 1;
        filter: blur(0);
    }
}
@media (hover: none){
    .tooltip:has(.spell_text:focus) .tooltiptext {
        visibility: visible;
        opacity: 1;
        filter: blur(0);
    }
}



.tooltip {
    position: relative;
    display: inline-block; /* Allows the icon to sit naturally in text flow */
    cursor: help; /* Optional: indicates it's interactive */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px; /* Adjust as needed */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 105%;
    transform: translateY(-50%); /* Centers it vertically relative to the text */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    opacity: 0;
    filter: blur(2px);
    transition: 
        opacity 0.2s ease,
        transform 0.2s ease,
        filter 1s ease;
    pointer-events: none; /* Prevents the text from blocking the click */

}

@media (max-width: 768px) {
    .tooltip .tooltiptext {
        left: 0%;
        top: 0%;
        transform: translateY(30px);
    }
}



/* Arrow for the tooltip */
.tooltiptext::after{
    content: "";
    position: absolute;
    top: 47%; /* At the bottom of the tooltip */
    left: -1%;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}


@media (max-width: 768px) {
    .tooltiptext::after{
        top: 0%; /* At the bottom of the tooltip */
        left: 5%;
        margin-top: -10px;
        border-color: transparent transparent #555 transparent;
    }
}





body {
    position: relative;
}


@keyframes aWildDrusHasAppeared {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    animation: 3600s linear 0s 1 aWildDrusHasAppeared;
    z-index: -1;
}

.anchor, .header-link {
    display: none !important;
}
